/*FONDO DEL BODY*/
body{
	background-image:url('../img/hojas.jpg'); /*Theme*/
	background-attachment: fixed; 
}

/*LOGO*/
#logo{
	background: #235E3D; /*Theme*/
}

/*MENU*/
#menu ul li:hover{
	background: #235E3D;/*Theme*/
}

/*BOTON*/
.button{
	background:  #235E3D; /*Theme*/
}
/*RELOJ*/
#reloj{
	border: 3px solid #235E3D;
}